<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern><![CDATA[
				%-20(%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread]) %-5level %logger{80}[%L] - %msg%n
          ]]></pattern>
        </encoder>
    </appender>

    <!-- <appender name="STDERR" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.err</target>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>
        <encoder>
            <pattern><![CDATA[
				%-20(%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread]) %-5level %logger{80}[%L] - %msg%n
          ]]></pattern>
        </encoder>
    </appender> -->

    <!-- <appender name="daoRFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.root.path}/universally.log</file>
        <param name="append" value="true"/>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.root.path}/universally.%d{yyyy-MM-dd}.log.zip</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern><![CDATA[
				%-20(%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread]) %-5level %logger{80}[%L] - %msg%n
          ]]></pattern>
        </encoder>
    </appender> -->

    <!-- <appender name="providerImplRFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.root.path}/manager-provider.log</file>
        <param name="append" value="true"/>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.root.path}/manager-provider.%d{yyyy-MM-dd}.log.zip</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern><![CDATA[
				%-20(%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread]) %-5level %logger{80}[%L] - %msg%n
          ]]></pattern>
        </encoder>
    </appender> -->

    <!-- <appender name="serviceRFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.root.path}/core-service.log</file>
        <param name="append" value="true"/>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.root.path}/core-service.%d{yyyy-MM-dd}.log.zip</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern><![CDATA[
				%-20(%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread]) %-5level %logger{80}[%L] - %msg%n
          ]]></pattern>
        </encoder>
    </appender> -->

    <!-- <appender name="allErrorRFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level> 指定要对级别为ERROR日志信息过滤
            <OnMismatch>DENY</OnMismatch>     如果不匹配，则拒绝处理
            <OnMatch>ACCEPT</OnMatch>         如果匹配，则立即处理
        </filter>
        <file>${log.root.path}/all-error.log</file>
        <param name="append" value="true"/>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.root.path}/all-error.%d{yyyy-MM-dd}.log.zip</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern><![CDATA[
				%-20(%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread]) %-5level %logger{80}[%L] - %msg%n
          ]]></pattern>
        </encoder>
    </append>

    <!-- <logger name="org.mybatis" level="DEBUG" additivity="false">
        <appender-ref ref="STDERR"/>
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="daoRFile"/>
        <appender-ref ref="allErrorRFile"/>
    </logger> -->

    <!-- <logger name="java.sql" level="DEBUG" additivity="false">
        <appender-ref ref="STDERR"/>
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="daoRFile"/>
        <appender-ref ref="allErrorRFile"/>
    </logger> -->

    <!-- <logger name="org.springframework.jdbc" level="DEBUG" additivity="false">
        <appender-ref ref="STDERR"/>
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="daoRFile"/>
        <appender-ref ref="allErrorRFile"/>
    </logger> -->
    
    <!-- <logger name="org.apache.commons.beanutils" level="INFO" additivity="false">
        <appender-ref ref="STDERR"/>
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="daoRFile"/>
        <appender-ref ref="allErrorRFile"/>
    </logger> -->

    <!--<logger name="org.apache" level="INFO"/>
    <logger name="org.hibernate" level="INFO"/>
    <logger name="org.eclipse" level="INFO"/>
    <logger name="org.tuckey" level="INFO"/>
    <logger name="org.springframework" level="INFO"/>-->
    
    <logger name="org.springframework.web.servlet.DispatcherServlet" level="DEBUG"/>

    <root>
        <level value="DEBUG"/>
        <!-- <appender-ref ref="STDERR"/> -->
        <appender-ref ref="STDOUT"/>
        <!-- <appender-ref ref="providerImplRFile"/>
        <appender-ref ref="allErrorRFile"/> -->
    </root>

</configuration>
